<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="TODO_RepositoryEntities" connectionString="metadata=res://*/Entity.TaskModel.csdl|res://*/Entity.TaskModel.ssdl|res://*/Entity.TaskModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DUCTRUONG\SQLEXPRESS;initial catalog=&quot;TODO Repository&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="TODO_RepositoryEntities1" connectionString="metadata=res://*/Entity.TaskEntity.csdl|res://*/Entity.TaskEntity.ssdl|res://*/Entity.TaskEntity.msl;provider=System.Data.SqlClient;provider connection string='data source=DUCTRUONG\SQLEXPRESS;initial catalog=&quot;TODO Repository&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>